In [4]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text, DictVectorizer
import re
import scipy
from sklearn.linear_model import Ridge
from sklearn.decomposition import PCA

In [5]:
df = pd.read_csv('close_prices.csv')

In [8]:
df.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [7]:
pca = PCA(n_components=10)

In [21]:
pca.fit(df.iloc[:,1:])

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [25]:
pca.explained_variance_ratio_

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [36]:
sum(pca.explained_variance_ratio_[:4]), pca.explained_variance_ratio_[:4]

(0.9277429537836402, array([0.73897118, 0.11007169, 0.04995088, 0.0287492 ]))

In [37]:
with open('answer4_2.txt', 'w') as fout:
    fout.write(str(4))

In [39]:
pca.components_[1]

array([-0.23302579,  0.13810221, -0.56473623, -0.02942138, -0.29715617,
       -0.07007236, -0.241633  , -0.02260284, -0.10552718,  0.0316032 ,
       -0.35692651, -0.15198088, -0.27610164, -0.06738875, -0.05034386,
       -0.05870438, -0.21741019, -0.19076925, -0.16627522,  0.02253872,
        0.04070064, -0.01865235, -0.0355594 , -0.07670988, -0.0541169 ,
       -0.00182998,  0.10638781, -0.03219232,  0.05030332, -0.2579831 ])

In [26]:
X_pca = pca.fit_transform(df.iloc[:,1:])

In [45]:
X_pca[0]

array([-50.90240358,  17.63167724,   7.7360209 ,   2.59600961,
         2.37756945,   4.24405501,  12.8830885 ,   3.55657041,
        -5.82197358,  -1.72604005])

In [31]:
dj = pd.read_csv('f_djia_index.csv')

In [61]:
dj_1 = dj.iloc[:,1]

In [62]:
pca_1 = pd.Series(X_pca.T[0])

In [65]:
round(dj_1.corr(pca_1, method='pearson'),2)

0.91

In [66]:
with open('answer4_3.txt', 'w') as fout:
    fout.write(str(0.91))

In [76]:
np.argmax(pca.components_[0])

26

In [85]:
with open('answer4_4.txt', 'w') as fout:
    fout.write('V')

In [83]:
df.columns[27]

'V'

In [84]:
dj

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
5    2013-09-30  15129.669922
6    2013-10-01  15191.700195
7    2013-10-02  15133.139648
8    2013-10-03  14996.480469
9    2013-10-04  15072.580078
10   2013-10-07  14936.240234
11   2013-10-08  14776.530273
12   2013-10-09  14802.980469
13   2013-10-10  15126.070312
14   2013-10-11  15237.110352
15   2013-10-14  15301.259766
16   2013-10-15  15168.009766
17   2013-10-16  15373.830078
18   2013-10-17  15371.650391
19   2013-10-18  15399.650391
20   2013-10-21  15392.200195
21   2013-10-22  15467.660156
22   2013-10-23  15413.330078
23   2013-10-24  15509.209961
24   2013-10-25  15570.280273
25   2013-10-28  15568.929688
26   2013-10-29  15680.349609
27   2013-10-30  15618.759766
28   2013-10-31  15545.750000
29   2013-11-01  15615.549805
..          ...           ...
344  2015-02-04  17673.019531
345  2015-02-05  17884.880859
346  2015-02-06  17824.289062
347  2015-02-09  17729.210938
348  2015-02-10  17868.759766
349  2015-02-11  17862.140625
350  2015-02-12  17972.380859
351  2015-02-13  18019.349609
352  2015-02-17  18047.580078
353  2015-02-18  18029.849609
354  2015-02-19  17985.769531
355  2015-02-20  18140.439453
356  2015-02-23  18116.839844
357  2015-02-24  18209.189453
358  2015-02-25  18224.570312
359  2015-02-26  18214.419922
360  2015-02-27  18132.699219
361  2015-03-02  18288.630859
362  2015-03-03  18203.369141
363  2015-03-04  18096.900391
364  2015-03-05  18135.720703
365  2015-03-06  17856.779297
366  2015-03-09  17995.720703
367  2015-03-10  17662.939453
368  2015-03-11  17635.390625
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]